*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* globali */
img {
    width: 100%;
    height: auto;    
  }

  body {
	margin-top: 4.5rem; 
}

.txt{
    font-size: 1rem;
    line-height: 1.7em;
}

/* titoli */
h1{
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h4{
    font-size: 1.5rem;
}
.container{

    max-width: 900px;
    margin: 4rem auto;
}
/* menu header */

header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    background-color: white;
    box-shadow: 3px 3px #ededed;
}
.menu{
    display:flex ;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.h-ul{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
li {
    list-style: none;
}

nav a{
    
    text-decoration: none;
    color: rgb(47, 46, 46);
    
}

a{

    color: #0160FF;
    text-decoration: underline;
}




/* .menu a{
    text-decoration: none;
    color: #000;
} */

/* STILE bottoni */

 .btn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #0160FF;
    color: #fff;
    border:5px solid #0160FF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* button header btn-h */



.btn-h{

    background-color: #0160FF;
    
      
}

.btn-h:hover{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #b9cef2;
    color: rgb(47, 44, 44);
    border:5px solid #b9cef2;
}
.btn:hover{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #b9cef2;
    color: rgb(47, 44, 44);
    border:5px solid #b9cef2;
}

/********* sezione 1 *********/

.sezione1{
    background-color: #a0c1faf2;
    padding-top:2rem;
    padding-right:2rem;
    padding-left:2rem;
    
    
}

.sezione1 .container{
    max-width: 1000px;
    margin-top: 2rem;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
}

.testo{
    max-width: 30%;

}
/* container */
.immagine{
    max-width: 70%;
    flex: 1 1 auto ;
}



.freccia{
    width: 2rem;
    position: relative;
    top: 2%;
}



/********* sezione 2 *********/



.input{
    
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.tab{
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    flex-wrap: wrap;
    
    
}

/* tabella */
.tab .card{
    width: 30%;
    border: 2px solid #ededed;
}

/* ultima tabella */
.card{
        width: 880px;
        border: 2px solid #ededed;
        DISPLAY: flex;
        margin: auto;
        flex-wrap: wrap;
        margin-top: 2rem;
}

/* header tabella 1-3 */
.tab .htab{
    border-bottom: 2px solid #ededed;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnt3{
    padding-left: 4rem;
    padding-right: 4rem;
}
.btnt3:hover{
    padding-left: 4rem;
    padding-right: 4rem;
}

/* tabella 4 */
.htab{
    border-bottom: 2px solid #ededed;
    text-align: center;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interno{
    padding: 2rem;
}
.interno1{
    justify-content: center;
    width: 78%;
    padding: 2em;
}

/* pulsante tabElla 4 */
.btn-1{
    display: flex;
    align-items: center;
}

.btn1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #0160FF;
    color: #fff;
    border:5px solid #0160FF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn1:hover{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #b9cef2;
    color: rgb(47, 44, 44);
    border:5px solid #b9cef2;
}

/* sistemazione icone e testo tab */
.litab{
    display: flex;
    column-gap: 10px;
}
/* spaziatura elementi */
.interno .ttit, p, ul, button{

    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}

.divider{
    width: 50px;
    color: #ededed;
}

.interno li, .litab{
        margin-bottom: 2rem;
}


/********* Sezione 3 *********/

.sezione3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3-img{
    width: 60%;
    display: flex;
    justify-content: center;
}

.imgs3{
    width: 70%;
    
}

.s3{
    width: 30%;
}

.bpartner{
    padding: 1rem;
    border-radius: 0;
}

/********* sezione 4 *********/
.sezione4 .card{
    border: 0px solid #ededed;
}

/********* sezione 6 *********/
.sezione6{
    display: flex;
    flex-wrap: wrap;
   
}

.blocco{
    width: calc(100%/2); 
    height: calc(100%/2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.b1{
    background-color: #a2d39b;
    border: 10px solid #d0e6cb;
}
.b2{
    background-color: #61082b;
}

.b3{
    background-color: #0093ce;
}

.b4{
    background-color: #ff1c1c;
}
.b5{
    background-color: #d5001f;
}
.b6{
    background-color: #b1cee6;
}
.b7{
    background-color: #0d2481;
}
.b8{
    background-color: #ffd830;
}

.svgpt{

    width: 50%;
}


.blocco img{
    width: 30%;
    height: auto;
}

.pt{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.pt:nth-of-type(2){
    padding: 2rem;
    padding-bottom: 10rem;
    background-color: #ededed;
}

/********* sezione 7 *********/
.sezione7{
    background-color: #a0c1faf2;
    padding: 1px;
}

.sezione7 .container{
    display: flex;
    justify-content: center;
    column-gap: 15%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn7{
    padding: 1rem 3rem;
    border:1px solid #fff;
    background-color: #fff;
}

/********* sezione 8 *********/
.sezione8 .div8{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #b2b2b2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.div8:last-of-type{
    border-bottom: 2px solid #b2b2b2;
}