*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* globali */
img {
    width: 100%;
    height: auto;    
  }

  body {
	margin-top: 4.5rem; 
}

.txt{
    font-size: 1rem;
    line-height: 1.7em;
}
/* titoli */
h1{
    font-size: 48px;
    font-weight: 800;
}

/* menu header */

header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    background-color: white;
    box-shadow: 3px 3px #ededed;
}
.menu{
    display:flex ;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

ul nav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
li nav{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #000;
}

/* STILE bottoni */

.btn-h, .btn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #0160FF;
    color: #fff;
    border:5px solid #0160FF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    font-style: none;
}

.btn-h,.btn:hover{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: #b9cef2;
    color: rgb(47, 44, 44);
    border:5px solid #b9cef2;
}

/* sezione 1 */

.sezione1{
    background-color: #a0c1faf2;
    padding: 2rem;
}

.sezione1 .container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.testo{
    max-width: 30%;
}

.immagine{
    max-width: 70%;
    flex: 1 1 auto ;
}

/* sezione 2 */

.sezione2 .container{

    max-width: 900px;
    margin: 4rem auto;
}

input #mensile.radio{
    border: 35px solid #ededed;
}

.sezione2 .titolo, .input{

    margin-bottom: 2rem;
}


.tab{
    display: flex;
    justify-content: space-evenly;
    
    
}
.card{
    width: 33%;
    margin: auto;
    border: 2px solid #ededed;
}

.htab{
    border: 2px solid #ededed;
    text-align: center;
}